@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
:root {
    --primary-background: #032830;
    --second-color: #368B82;
    --primary-title-color: #77B1AB;
}

html,
body {
    scroll-behavior: smooth;

}

h1,
h2,
h3,
h4,
h6
 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}


p,
ul,
button,
input,
ol,
select {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.section-hero {
    background-color: var(--primary-background);
    width: 100%;
    height: 37.5rem;
  }

   .hero-title h2  {
   font-weight: 900;
   font-size: 2.5rem;
  }

  .hero-title .s-title {
    font-weight: 900;
    font-size: 2.5rem;
    color: var(--primary-title-color);
   }